<%= content_tag(:div, id: "merge-request-#{merge_request.id}", class: "merge-request merge-request-#{merge_request.provider}") do %>
  <%= content_tag(:span,
                  merge_request.state,
                  class: "merge-request-state merge-request-state-#{merge_request.state}") %>
  <%= content_tag(:span,
                  merge_request.display_id,
                  class: 'merge-request-id') %>
  <%= link_to(merge_request.title, merge_request.url) %>
  <span class="merge-request-by-line">
     <%= l(:label_added_time_by, author: merge_request.author_name, age: time_tag(merge_request.created_at)).html_safe %>,
     <%= l(:label_updated_time, time_tag(merge_request.updated_at)).html_safe %>
  </span>
<% end %>
